.backG {
  background-image: url("/assets/img/img18.jpeg");
  background-repeat: repeat;
}
.wrapper {
  margin-top: 20px;
}
.wrap {
  margin: 50px;
  padding: 20px;
  border: 1.5px solid;
  border-radius: 10px;
  background-color: white;
}
.panel {
  margin: 50px;
}
::ng-deep.mat-expansion-panel-header {
  height: 100px;
}
mat-expansion-panel {
  border: 1.5px solid;
}
mat-expansion-panel-header {
  font-size: 22px;
  font-weight: 400;
}
mat-form-field,
mat-radio-group {
  font-size: 15px;
  margin: 0 100px 0 30px;
  padding: 10px;
  width: 300px;
}

.submit {
  margin-left: 40px;
  padding: 0 20px 0 20px;
}
mat-radio-button {
  padding-right: 40px;
}
.form {
  margin: 0px 40px 10px;
  padding-left: 180px;
  border-style: outset;
}
ul {
  margin: 0px 10px 0px 10px;
  padding: 14px;
}
