mat-radio-button {
  margin: 5px 15px 10px 165px;
  padding: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form {
  margin-left: 45px;
  padding-left: 20px;
}

.btn{
  margin-left: 15px;
  margin-right: 20px;
}
mat-form-field{
  width:192px;
}
.cd {
  margin-top: 10px;
}
.cd1 {
  margin-left: 10px;
  margin-top: 10px;
}
.ff {
  margin-right: 15px;
}

.iconMaterial{
  font-size: 30px;
}
