<div class="navbar">
  <span>
    <header>
      <a routerLink="/" mat-button class="mat-display-4" id="header">
        HAPPY WAY
      </a>
    </header>
  </span>
  <mat-toolbar id="toolbar">
    <mat-toolbar-row>
      <div class="space"></div>
      <div>
        <button class="button" mat-button (click)="openLoginDialog()" *ngIf="!fun">
          <mat-icon class="icon">account_circle</mat-icon>
        </button>
      </div>
      <div>
        <button class="button" mat-button (click)="logOut()" *ngIf="fun">
          <mat-icon class="icon">account_circle</mat-icon>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>