::ng-deep .mat-tab-label .mat-tab-label-content {
  font-size: 12px !important;
  color: black !important;
}
.mIcon {
  font-size: 40px !important;
  color:salmon;
}
mat-card {
  height: 250px;
  background: initial;
  padding: 0px;
}
::ng-deep .mat-tab-body-content {
  padding-top: 20px;
  height: 180px !important;
}
#card {
  background: linear-gradient(white, white, white, lightpink);
  border-radius: 10px;
  margin: 0 40px;
}
.mat-card-content {
    font-size: 13px;
}
.title {
  font-size: 20px;
  font-weight: 300;
}
.track
{
  text-align: center;
}
p {
  padding-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color:darkslategray;
}
td{
  width:290px;
}