<div id="card">
  <mat-card>
    <mat-card-content>
      <div class="tab">
        <mat-tab-group mat-stretch-tabs [color]="'accent'">
          <mat-tab label="Self-Drive">
            <app-self-drive></app-self-drive>
          </mat-tab>
          <mat-tab label="Chauffeur Drive">
            <app-chauffeur-drive></app-chauffeur-drive>
          </mat-tab>
          <mat-tab label="Lease A Vehicle?">
            <div>
              <ul>
                <li>
                  <mat-icon>directions_car</mat-icon>
                  Vehicle leasing is the leasing (or the use) of a motor vehicle
                  for a fixed period of time at an agreed amount of money for
                  the lease.
                </li>
                <li>
                  <mat-icon>monetization_on</mat-icon> Lease your vehicle with
                  zero down payment
                </li>
                <li></li>
              </ul>
            </div>
          </mat-tab>
          <mat-tab label="Track Your Vehicle?">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon>desktop_mac</mat-icon>
                        </li>
                        <li><span class="title">1-Page Dashboard</span></li>
                        <li>
                          <p>Monitor all your vehicles in a single page.</p>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon>important_devices</mat-icon>
                        </li>
                        <li><span class="title">Dedicated Server</span></li>
                        <li>
                          <p>100% own and dedicated server.</p>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon>layers</mat-icon>
                        </li>
                        <li><span class="title">API Integration</span></li>
                        <li>
                          <p>API integration to your server and application.</p>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <button
                      mat-stroked-button
                      style="margin: 0px 40px;"
                      (click)="onClick()"
                    >
                      Proceed
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>
