<div id="card">
  <mat-card>
    <mat-card-content>
      <div class="tab">
        <mat-tab-group mat-stretch-tabs [color]="'accent'">
          <mat-tab label="Self-Drive">
            <app-self-drive></app-self-drive>
          </mat-tab>
          <mat-tab label="Chauffeur Drive">
            <app-chauffeur-drive></app-chauffeur-drive>
          </mat-tab>
          <mat-tab label="Track Your Vehicle?">
            <table>
              <tbody>
                <tr>
                  <td>
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon class="mIcon">desktop_mac</mat-icon>
                        </li>
                        <li><span class="title">1-Page Dashboard</span></li>
                        <li>
                          <p>Monitor all your vehicles in a single page.</p>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td style="padding-bottom: 20px;">
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon class="mIcon">important_devices</mat-icon>
                        </li>
                        <li><span class="title">Dedicated Server</span></li>
                        <li>
                          <p>100% own and dedicated server.</p>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon class="mIcon">layers</mat-icon>
                        </li>
                        <li><span class="title">API Integration</span></li>
                        <li>
                          <p>API integration to your server and application.</p>
                        </li>
                      </ul>
                    </div>
                  <td>
                    <div class="track">
                      <ul type="none">
                        <li>
                          <mat-icon class="mIcon">sync</mat-icon>
                        </li>
                        <li><span class="title">Synchronized</span></li>
                        <li>
                          <p>Vehicles to be tracked will be in sync and visible to all the users.</p>
                        </li>
                      </ul>
                    </div>
                  </td>
                  <td style="width:0px;">
                    <button mat-stroked-button style="margin: 0px 40px;" (click)="onClick()">
                      Proceed
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card-content>
  </mat-card>
</div>