.wrapper {
  background: linear-gradient(white, skyblue, khaki, pink);
  overflow: auto;
  height: 100%;
}
.wrapper_1 {
  margin-top: 200px;
  background-color: white;
  margin: 20px;
  padding: 10px;
  text-align: center;
}
