.wrapper {
  text-align: center;
  font-size: 13px;
}
.mat-display-2 {
  margin-bottom: 10px;
  font-size: 40px;
}

.mat-dialog-content {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 20px;
}
.forgotPass {
  margin-left: 230px;
}

mat-form-field {
  width: 285px;
}
mat-icon {
  cursor: pointer;
}

ul{
  padding:0px;
  text-align: center;
  width:100%;
}