<div id="sky">
  <div class="cloud" id="cloud1"></div>
  <div class="cloud" id="cloud2"></div>
  <!-- <div class="cloud" id="cloud3"></div> -->
  <div id="aeroplane"></div>
  <div class="card">
    <app-user-option-tabs></app-user-option-tabs>
  </div>
  <!-- <div class="cloud" id="cloud4"></div> -->
  <div class="cloud" id="cloud5"></div>
  <div id="road1">
    <div class="cloud" id="cloud6"></div>
    <div class="cloud" id="cloud7"></div>
    <div id="truck2"></div>
    <div id="truck1"></div>
  </div>
</div>
