app-navbar {
  position: fixed;
  top: 0;
}
.card-wrapper {
  width: 260px;
  height: 360.69px;
  margin: 25px 0px 0px 530px;
}
.mat-card {
  border-radius: 30px;
}
::ng-deep .mat-card-image {
  margin-top: 5px !important;
  height: 150px !important;
  width: 230px !important;
  padding-left: 15px;
}
#icon {
  margin-left: 200px;
  cursor: pointer;
}

p {
  text-align: center;
}
.mat-display-1 {
  margin: 0px;
}
#btn {
  background-color: #ce2127;
  padding: 0px 25px;
  color: white;
}
.details,
.select {
  border-radius: 10px;
  margin: 50px;
  border: 1.5px solid;
  background: white;
}

.wrapper {
  background-image: url("/assets/img/img32.jpg");
  background-size: contain;
  height: 100%;
  overflow: scroll;
}
.wrapper-1 {
  margin-top: 200px;
}
.ions {
  height: 405px;
  margin: 20px;
  border-radius: 10px;
  border-style: outset;
  background: linear-gradient(white, white, moccasin);
}
ion-slide {
  background: linear-gradient(black, white);
}
::ng-deep .swiper-wrapper {
  height: 390px;
}
.next,
.prev {
  background-color: white;
  color: black;
}
.next {
  bottom: 240px;
  left: 1000px;
}
.prev {
  bottom: 250px;
  left: 230px;
}

.image {
  height: 350px;
  width: 800px;
  background-color: white;
  padding: 20px;
  background-color: white;
}
.image > img {
  width: 600px;
  padding-left: 50px;
  height: 300px;
}
.panel {
  margin: 50px;
}
::ng-deep.mat-expansion-panel-header {
  height: 100px;
}
mat-expansion-panel {
  border: 1.5px solid;
}
mat-expansion-panel-header,
.select > span {
  font-size: 22px;
  font-weight: 400;
}
.mat-display-3 {
  margin: 50px;
  font-weight: 500;
  background: white;
  padding: 0 30px;
  border: 1.5px solid;
  color: black;
}
.select {
  padding: 20px;
  height: 465px;
}
.info {
  height: 55px;
  width: 55px;
}

.title {
  font-size: 20px;
  width: 200px;
  font-weight: 400px;
}
.value {
  font-size: 15px;
  color: gray;
}
ul {
  margin: 0px 10px 0px 10px;
  padding: 14px;
}
table {
  text-align: center;
}
mat-form-field,
mat-radio-group {
  font-size: 15px;
  margin: 0 100px 0 30px;
  padding: 10px;
  width: 300px;
}

.submit {
  margin-left: 40px;
  padding: 0 20px 0 20px;
}
mat-radio-button {
  padding-right: 40px;
}
.form {
  margin: 0px 40px 10px;
  padding-left: 180px;
  border-style: outset;
}
