app-navbar {
  position: fixed;
  top: 0;
}
.card-wrapper {
  width: 240px;
  margin: 25px 0px 0px 435px;
  text-align: center;
}
.mat-card {
  border-radius: 30px;
}

::ng-deep .mat-card-image {
  margin: 2px -16px 2px -29px !important;
  height: 150px !important;
  width: 216px !important;
  padding-left: 16px;
}
#icon {
  margin-left: 185px;
  cursor: pointer;
}

p {
  text-align: center;
}
.mat-display-1 {
  margin: 0px;
  font-size: 20px;
}
#btn {
  background-color: #ce2127;
  padding: 0px 25px;
  color: white;
}
.details,
.select {
  border-radius: 10px;
  margin: 50px 75px;
  border: 1.5px solid;
  background: white;
}
.details{
  height:114px;
  font-size: 13px;
}
.wrapper {
  background: url("/assets/img/img57.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow: auto;
}
.wrapper-1 {
  margin-top: 200px;
}
.ions {
  height: 405px;
  margin: 20px;
  border-radius: 10px;
  border-style: outset;
  background: linear-gradient(90deg,white,white,khaki,white,white);
}

.next,
.prev {
  background-color: white;
  color: black;
}
.next {
  bottom: 240px;
  left: 850px;
}
.prev {
  bottom: 250px;
  left: 230px;
}

.image {
  height: 350px;
  width: 641px;
  background-color: white;
  padding: 20px;
  background-color: white;
}
.image > img {
  width: 600px;
  padding-left: 10px;
  height: 350px;
}
.panel {
  margin: 50px;
}
::ng-deep.mat-expansion-panel-header {
  height: 100px;
}
mat-expansion-panel {
  border: 1.5px solid;
}
mat-expansion-panel-header,
.select > span {
  font-size: 22px;
  font-weight: 400;
}
.mat-display-3 {
  word-spacing: 2px;
  font-weight: 500;
  color:white;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 5px 4px 0 black;
  margin: 0px 0px 3px 0px;
}


.select {
  padding: 20px;
  height: 465px;
  background: linear-gradient(5deg,black, transparent);
  color: white;
}
.info {
  height: 55px;
  width: 55px;
}

.title {
  font-size: 17px;
  width: 200px;
  font-weight: 400px;
}
.value {
  font-size: 15px;
  color: gray;
}
ul {
  margin: 0px 10px 0px 10px;
  padding: 14px;
}
table {
  text-align: center;
}
mat-form-field,
mat-radio-group {
  font-size: 13px;
  margin: 0 100px 0 30px;
  padding: 10px;
  width: 292px;
}

.submit {
  margin-left: 40px;
  padding: 0 20px 0 20px;
}
mat-radio-button {
  padding-right: 40px;
}
.form {
  margin: 0px 40px 10px;
  padding-left: 125px;
  border-style: outset;
  background-color: white;
}
mat-expansion-panel{
  background: linear-gradient(5deg, black, transparent);

}
mat-panel-title{
  color:white;
}
::ng-deep.mat-expansion-indicator::after{
  color:white;
}