<div mat-dialog-content>
  <table>
    <tr>
      <td class="row"><img src="./assets/img/auto.png" alt="img" /></td>
      <td class="row">
        <span>{{ data.mode }}</span>
      </td>
    </tr>
    <tr>
      <td class="row"><img src="./assets/img/carDoor.png" alt="img" /></td>
      <td class="row">
        <span>{{ data.door }}</span>
      </td>
    </tr>
    <tr>
      <td class="row"><img src="./assets/img/carSeat.png" alt="img" /></td>
      <td class="row">
        <span>{{ data.seat }}</span>
      </td>
    </tr>
    <tr>
      <td><img src="./assets/img/luggage.png" alt="img" /></td>
      <td>
        <span>{{ data.luggage }}</span>
      </td>
    </tr>
  </table>
</div>
